boyd {
  background-color: #fff;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 10%;
}

canvas {
  margin: 0 auto;
  box-shadow: 0 2.8px 2.2px rgba(129, 186, 240, 0.034),
    0 6.7px 5.3px rgba(20, 132, 224, 0.048),
    0 12.5px 10px rgba(16, 79, 196, 0.06),
    0 22.3px 17.9px rgba(10, 7, 226, 0.072),
    0 41.8px 33.4px rgba(6, 25, 194, 0.086), 0 100px 80px rgba(9, 50, 236, 0.12);
}
